*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}
.name{
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 40px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;    
}
.gallery_item{
    width: 300px;
    height: 400px;
    object-fit: cover;
    padding: 5px;
}
@media (max-width: 390px) {
    .gallery {
        flex-direction: column;
    }
}
